footer {
  position: fixed;
  bottom: 0;
  font-size: 1.2rem;
  left: 0;
  padding: 1rem;
  text-align: center;
  width: 100%;
  background-color: rgb(149, 149, 252);
  box-shadow: 100px 100px 100px gray;
}
