.relatedvideos{
    margin: auto;
    padding: 10px 55px;
    background-color: rgb(220, 220, 248);
    background: 100px;
    
}

.mainvideos{
    margin: auto;
    padding: 5px 655px 5px;
    background-color: rgb(220, 220, 248);
    background: 100px;
}